.foto_item {
	width:150px;
	height:200px;
	text-align: center;
	margin-right: 10px;
	float:left;
}
.foto_item img {
	width:150px;
}

input[type='text']{
	border: 2px solid;
}

input[type='email']{
	border: 2px solid;
}

input[type='password']{
	border: 2px solid;
}
.row{
	width: 50%;
}